.parent {
    background-color: dimgrey;
    border: white 3px solid;
    border-radius: 5px;
    margin: 20px;
    width: 480px;
    height: 320px;
}

.display {
    font-size: 60px;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    height: 180px;
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.settings {
    font-size: 40px ;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    height: 180px;
    margin: 10px;

}


.buttons {
    display:flex;
    align-items: center;
    justify-content: space-around;
    border: white 2px solid;
    border-radius: 5px;
    height: 100px;
    margin: 10px;
}
